* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    color: #555;
    font-size: 12px;
}
body{
    background-color: #F8F8F8;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a.link-hover:hover {
    border-bottom: 4px solid #00ADEE;
}
input:not([type=radio]), select{
    width: 100%;
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid #EFEFEF;
    background: #F8F8F8;
    color: #333;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
input[type=radio] + label{
    margin-right: 10px;
    cursor: pointer;
}
textarea{
    width: 100%;
    height: 200px;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #EFEFEF;
    background: #F8F8F8;
    color: #333;
}
button{
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: #FFF;
    background-color: #00ADEE;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
button:hover{
    background-color: #02A1DB;
}
select option:empty { 
    display:none 
}
.size-min{
    width: 60px;
}
.size-medium{
    width: 120px;
}
.bd-top{
    border-top: 1px solid #EFEFEF;
}
.default{
    background: #00ADEE;
}
.danger{
    background: #EC008C;
}
.danger:hover{
    background: #EC0050;
}
.right{
    float: right;
}
.title{
    font-size: 14px;
}
.painel-title{
    width: 100%;
    height: 50px;    
    float: left;
}
.painel-title div{
    line-height: 50px;
}
.painel-title span{
    line-height: 50px;
    float: left;
    font-size: 16px;
}
.painel-title img.action{
    margin: 13px 0 0 10px;
    float: left;
}
.painel-title img.action{
    width: 20px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-small{
    font-size: small;
}
.text-medium{
    font-size: medium;
}
.text-large{
    font-size: large;
}
.float-button{
    float: right;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #FFF;
    border-bottom: 1px solid #EFEFEF;
    z-index: 1;
}
#topo{
    max-width: 1300px;
    margin: 0 auto;
}
#logo{
    padding: 10px;
    float: left;
}
#logo img{
    width: 100%;
    max-width: 40px;
    float: left;
    margin-right: 10px;
}
#logo .logoname{
    margin-top: 10px;
    float: left;
    font-size: large;
}
#info-logo{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    text-align: center;
}
#info-logo img{
    width: 100%;
    max-width: 100px;
}
#info-logo .logoname{
    margin-bottom: 5px;
}
.logoname{
    font-size: large;
    color: #00ADEE;
}
.my-account{
    line-height: 60px;
    margin-right: 10px;
    float: right;
    font-size: 14px;
}
.my-account span.user{
    cursor: pointer;
}
#content {
    max-width: 1300px;
    min-height: 600px;
    margin: 60px auto 20px;
    padding: 0 10px;
}
.content-margin-top {
    margin: 80px auto 0 !important;
}
#content-left {
    width: 30%;
    float: left;
}
#content-right{
    width: 70%;
    float: left;
    padding-left: 20px; 
}
.event{
    background-color: #FFF;
    border: 1px solid #EFEFEF;
    border-radius: 2px;
    overflow: auto;
    margin-bottom: 20px;
}
.event-header{
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
    float: left;
}
.event-header > .event-info{
    width: 100%;
    padding: 15px;
    float: left;
    font-size: small;
}
.event-header > .event-info p:first-child{
    font-size: large;
    margin-bottom: 10px;
}
.event-header .perfil{
    width: 20%;
    float: left;
    text-align: center;
    padding: 5px 10px 15px;
    font-size: small;
}
.event-header .perfil img{
    width: 100%;
    max-width: 70px;
    max-height: 70px;
    border: 1px solid #EFEFEF;
    border-radius: 50%;
    background-color: #FFF;
    padding: 2px;
}
.event-banner{
    width: 100%;
    height: 400px; 
    float: left;
    overflow: hidden;
    cursor: pointer;
}
.event-banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.event-info{
    width: 100%;
    float: left;   
    padding: 15px;
    font-size: medium;
}
.event-info-block{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EFEFEF;
}
.event-info-block:last-child{
    border-bottom: none;
}
.event-info-block > p:first-child{
    font-size: small !important;
    margin-bottom: 0 !important;
}
.event-info-block p.title{
    font-size: medium !important;
    margin-bottom: 10px !important;
}
.event-info table tr td{
    padding: 0 5px 0 0;
}
.event-mais-info{
    width: 100%;
    padding: 0 15px 15px;
    overflow: auto;
}
#events-mini{
    width: 100%;
    float: left;
}
.event-mini-block {
    width: 100%;
    margin-bottom: 20px;
    float: left;
    background-color: #FFF;
    border: 1px solid #EFEFEF;
    border-radius: 2px;
}
.event-mini-banner{
    float: left;
    height: 200px;
}
.event-mini-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-mini-info{
    width: 100%;
    float: left;
    font-size: small;
    padding: 15px;
}
.event-mini-info > p:first-child{
    font-size: large;
    margin-bottom: 5px;
}
.event-mini-block .perfil{
    width: 20%;
    float: left;
    text-align: center;
    padding: 10px;
    font-size: small;
}
.event-mini-block .perfil img{
    width: 100%;
    max-width: 70px;
    max-height: 70px;
    border: 1px solid #EFEFEF;
    border-radius: 50%;
    background-color: #FFF;
    padding: 2px;
}
#events-small{
    width: 100%;
    float: left;
}
.event-small{
    width: 100%;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
    overflow: auto;
}
.event-small-banner{
    width: 80px;
    height: 80px;
    float: left;
}
.event-small-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-small-info{
    float: left;
    padding: 20px;
    font-size: small;
}
.event-small-info > p:first-child{
    font-size: medium;
    margin-bottom: 5px;
}
#paginator{
    margin-bottom: 40px;
    text-align: center;
}
#paginator button{
    margin: 0 10px;
}
.content-login{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.content-login form{
    width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    background: #FFF;
    padding: 40px 20px;
    margin: 40px 0 20px;
}
.content-login form p{
    margin-bottom: 20px;
}
.content-login form p:last-child{
    margin-bottom: 0;
}
.content-login form button{
    width: 100%;
}
#painel-menu {
    width: 100%; 
    list-style: none;
    background: #FFF;
    float: left;
    font-size: 14px;
    border-bottom: 1px solid #EFEFEF;
}
#painel-menu li{
    display: inline;        
    cursor: pointer;
    border-bottom: 4px solid #FFF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    float: left;
}
#painel-menu li:hover, #painel-menu li.active{
    border-bottom: 4px solid #00ADEE;
}
#painel-menu li.logout:hover{
    border-bottom: 4px solid #E0025E;
}
#painel-menu li.right {
    float: right;
}
#painel-menu li span{
    display: block;
    margin: 0 0 0;
    padding: 10px 20px;
    border-right: 1px solid #EFEFEF;
}
#painel-menu li:last-child span{
    border-right: 0;
}
.grid{
    width: 100%;
    background: #FFF;
    border: 1px solid #EFEFEF;
    border-collapse: collapse;
}
.grid thead{
    background: #DDD;
}
.grid thead th{
    border-right: 1px solid #EFEFEF;
}
.grid thead th:last-child{
    border-right: 0;
}
.grid thead th, .grid tbody td{
    text-align: left;
    padding: 5px 10px;
}
.grid tbody tr {
    border-bottom: 1px solid #EFEFEF;
}
.grid tbody tr:nth-child(even) {
    background: #F8F8F8;
}
.grid .action{
    text-align: center;
}
img.action{
    width: 15px;
    cursor: pointer;
}
.form{
    width: 100%;
    margin: 0 auto;
    background: #FFF;
    display: table;
    border-collapse: collapse;
}
.form .title{
    padding: 5px 10px;
    background: #DDD;
    border-bottom: 1px solid #F8F8F8;
    font-weight: bold;
}
.form td{
    padding: 5px;
}
.form tr td{
    width: 50%;
}
.form tr td:first-child:not(.title){
    text-align: right;
    width: 30%;
    padding-right: 15px;
}
.form input, .form select{
    max-width: 300px;
}
.form button{
    margin: 10px 0;
    float: none;
}
.embed-responsive {
    margin: 10px;
    position: relative;
    display: inline-block;
    
}
.embed-responsive .excluir-video {
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    background: #FF0000;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.embed-responsive-item {
    max-width: 400px;
    max-height: 280px;
}
.event-tags div{
    color: #FFF;
    background: #E0025E;
    border-radius: 3px;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px 0 5px 10px;
}
.event-tags div.view {
    padding: 5px 10px;
    float: none;
    display: inline-block;
}
.event-tags div .excluir-lecturer{
    color: #FFF;
    border-left: 1px solid #FFF;
    padding: 5px 10px;
    margin: -5px 0 5px 5px;
    background: #FF0000;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}
#event-map {
    height: 200px;
    width: 100%;
}
#painel #banner{
    width: 100%; 
    height: 300px; 
    float: left;
    margin-bottom: 10px; 
    background: #EFEFEF;
    border: 2px dashed #CCC;
    border-radius: 5px;
    position: relative;
    object-fit: cover;
    background-size: cover;
}
#painel #banner button{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #EC008C;
}
@media screen and (max-width: 800px){    
    .embed-responsive {
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
        float: none;
    }
    .embed-responsive .excluir-video {
        z-index: 1;
    }
    .embed-responsive.embed-responsive-16by9 {
        padding-bottom: 50%;
    }
    .embed-responsive-item {
        max-width: none;
        max-height: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .content-margin-top {
        margin: 70px auto 0 !important;
    }
    .content-login{
        width: calc(100% - 20px);
    }
    .content-login form{
        margin-top: 10px;
    }
    #content-left{
        display: none;
    } 
    #content-right{
        width: 100%;
        padding: 0;
    }
    .event{
        margin-bottom: 10px;
    }
    .event-header .event-info{        
        padding: 10px;
        border-right: 0;
    }
    .event-header .perfil{
        width: 100%;
    }
    .event-header .perfil img{
        display: none;
    }
    .event-header .perfil p{
        width: 100%;
        text-align: left;
        padding: 15px 10px 0;
        border-top: 1px solid #EFEFEF;
        float: left;
    }
    .event-banner{
        height: 200px;
    }
    .event-info{
        font-size: small;
    }
    .event-info, .event-mais-info{
        padding: 10px;
    }
    #painel-menu{
        width: calc(100% + 20px);
        margin-left: -10px;      
    }
    #painel-menu li span{
        padding: 10px;
    }
    .grid{   
        margin: 0 auto;
        font-size: small;
    }
    .form{
        font-size: small;
    }
    .form .title{
        font-size: small;
    }
    .form input, .form select{
        font-size: small;
    }
    button{
        padding: 10px 15px;
        font-size: small;
    }
    .float-button{
        width: calc(100%);
        float: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border: 10px solid #FFF;
        border-radius: 12px;
        z-index: 2;
    }
}