<!DOCTYPE html>
<html ng-app="bookeve" lang="pt-br">
    <head>
        <title>BookEve</title>
        <base href="/bookeve/public_html/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" />        
    </head>
    <body ng-controller="AppController as app" ng-cloak>
        <header id="header">
            <div id="logo">
                <a href="javascript:void(0);" ng-click="app.loadPage('/')" >
                    <img src="img/logo.svg" />
                    <span class="logoname left">BookEve</span>
                </a>
            </div>
            <div class="right">
                <div id="search">
                    <img src="" />
                </div>
                <a href="javascript:void(0);" ng-click="app.loadPage('/painel')" >Painel</a>
            </div>
        </header>
        <section id="content" ng-view=""></section>
        <script type="text/javascript" src="js/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/controllers/app-controller.js"></script>
        <script type="text/javascript" src="js/controllers/home-controller.js"></script>
        <script type="text/javascript" src="js/controllers/painel-controller.js"></script>
        <script type="text/javascript" src="js/services/authentication-service.js"></script>
        <script type="text/javascript" src="js/bookeve-module.js"></script>
    </body>
</html>
