<div class="content-margin-top" ng-controller="PainelController as painel">
    <div class="content-login">
        <p class="title">
            Meu cadastro
        </p>
        <form ng-submit="app.cadastrar(usuario)">
            <p>
                <input type="text" ng-model="usuario.nome" placeholder="Nome Completo" />
            </p>
            <p>
                <input type="text" ng-model="usuario.email" placeholder="E-mail de acesso" />
            </p>
            <p>
                <input type="password" ng-model="usuario.senha" placeholder="Senha de acesso" />
            </p>
            <p>
                <button type="submit">Cadastrar-me</button>
            </p>
            <p>
                <a href="javascript:void(0);" class="link-hover" ng-click="app.loadPage('/login')">Acessar meu painel</a>
            </p>
        </form>
    </div>
</div>