<div class="content-margin-top">
    <section id="content-left">
        <sidebar-events></sidebar-events>
    </section>
    <section id="content-right">
        <div class="search">
            <input type="text" ng-model="homeCtrl.search" placeholder="Buscar pelo nome do evento">
        </div>
        <div class="event" ng-repeat="event in homeCtrl.getEventosPaginator() track by $index">
            <div class="event-header">
                <div class="event-info ">
                    <p>{{event.name}}</p>
                    <p>{{event.dateIni | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div class="event-banner" ng-click="homeCtrl.loadEvent(event.id)">
                <img ng-src="{{homeCtrl.getBanner(event)}}" />
            </div>
            <div class="event-info">
                <p>{{event.description}}</p>
            </div>
            <div class="event-mais-info">
                <button class="right" type="button" ng-click="homeCtrl.loadEvent(event.id)">+ informações</button>
            </div>
        </div>
        <div id="paginator">
            <button type="button" ng-click="homeCtrl.prevPaginator()">Página anterior</button>
            <span>{{homeCtrl.pageIndex + 1}}</span>
            <button type="button" ng-click="homeCtrl.nextPaginator()">Próxima página</button>
        </div>
    </section>
    <p class="copyright text-center text-small">
        © Copyright - Bookeve
    </p>
</div>