<div class="content-margin-top" ng-controller="PainelController as painel">
    <div class="content-login">
        <p class="title">
            Meu painel
        </p>
        <form ng-submit="app.logar(usuario)">
            <p>
                <input type="text" ng-model="usuario.email" placeholder="E-mail de acesso" />
            </p>
            <p>
                <input type="password" ng-model="usuario.senha" placeholder="Senha de acesso" />
            </p>
            <p>
                <button type="submit">Acessar conta</button>
            </p>
            <p>
                <a href="javascript:void(0);" class="link-hover" ng-click="app.loadPage('/cadastro')">Não tenho cadastro</a>
            </p>
        </form>
    </div>
</div>