<div id="painel" ng-controller="PainelController as painel">
    <my-panel-menu></my-panel-menu>
    <div class="title painel-title">
        <span>Lista de usuários</span>
        <!--<div class="right">
            <button type="button" ng-click="loadPage('/painel/usuarios/0')">Novo usuário</button>
        </div>-->
    </div>
    <table class="grid">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Informações</th>
                <th class="action"></th>
                <th class="action"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usuarioCtrl.usuarios track by $index">
                <td>{{user.id}}</td>
                <td>
                    <p>{{user.name}}</p>
                    <p>{{user.email}}</p>
                    <p>{{user.accessLevel}}</p>
                </td>
                <td class="action">
                    <img class="action" src="img/edit.svg" alt="Editar" title="Editar" ng-click="usuarioCtrl.editar(user.id)" />
                </td>
                <td class="action">
                    <img class="action" src="img/multiply.svg" alt="Excluir" title="Excluir" ng-click="usuarioCtrl.remover(user.id)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>