<div ng-controller="PainelController as painel">
    <my-panel-menu></my-panel-menu>
    <div class="title painel-title">
        <span>Edição de evento</span>
        <div class="right">
            <button type="button" ng-click="app.loadPage('/painel/eventos')">Voltar</button>
        </div>
    </div>
    <div id="banner">
        <input id="upload-banner" type="file" ng-hide="true" file-change handler="eventoCtrl.setBanner(files)" />
        <button type="button" uploadFile>{{ eventoCtrl.bannerLoaded ? 'alterar' : 'adicionar' }} imagem</button>
    </div>
    <form ng-submit="eventoCtrl.salvar(eventoCtrl.event)">
        <input type="hidden" ng-model="eventoCtrl.event.id" />
        <table class="form">
            <tr>
                <td colspan="2" class="title">
                    Dados
                </td>
            </tr>
            <tr>
                <td>Nome do evento</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.name" />
                </td>
            </tr>
            <tr>
                <td>Início do evento</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.dateIni" />
                    <input type="text" ng-model="eventoCtrl.event.dateIni" />
                </td>
            </tr>
            <tr>
                <td>Fim do evento</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.dateFin" />
                    <input type="text" ng-model="eventoCtrl.event.dateFin" />
                </td>
            </tr>
            <tr>
                <td>Vagas</td>
                <td>
                    <input type="number" ng-model="eventoCtrl.event.vacancies" />
                </td>
            </tr>
            <tr>
                <td>Descrição do evento</td>
                <td>
                    <textarea ng-model="eventoCtrl.event.description"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="title">
                    Endereço
                </td>
            </tr>
            <tr>
                <td>Cep</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.zip" ng-blur="eventoCtrl.buscarEndereco(eventoCtrl.event.zip)" />
                </td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.address" />
                </td>
            </tr>
            <tr>
                <td>Número</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.number" />
                </td>
            </tr>
            <tr>
                <td>Complemento</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.complement" />
                </td>
            </tr>
            <tr>
                <td>Bairro</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.neighborhood" />
                </td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.city" />
                    </select>
                </td>
            </tr>
            <tr>
                <td>Estado</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.state" /> </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="title">
                    Palestrantes
                </td>
            </tr>
            <tr>
                <td>Nome do palestrante</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.lecturer" />
                    <button type="button" ng-click="eventoCtrl.insertLecturer()">Adicionar palestrante</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="event-tags">
                        <div ng-repeat="lecturer in eventoCtrl.event.lecturers track by $index">
                            {{lecturer.name}}
                            <span class="excluir-lecturer" ng-click="eventoCtrl.removeLecturer(lecturer)">x</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="title">
                    Vídeos
                </td>
            </tr>
            <tr>
                <td>Url do vídeo no YouTube</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.video" />
                    <button type="button" ng-click="eventoCtrl.insertVideo()">Adicionar vídeo</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="embed-responsive embed-responsive-16by9" ng-repeat="video in eventoCtrl.event.videos track by $index">
                        <div class="excluir-video" ng-click="eventoCtrl.removeVideo(video)">excluir</div>
                        <youtube-video class="embed-responsive-item" video-url="video.url"></youtube-video>
                    </div>
                </td>
            </tr>
            <tr ng-if="eventoCtrl.accessAdm">
                <td colspan="2" class="title">
                    Extras
                </td>
            </tr>
            <tr ng-if="eventoCtrl.accessAdm">
                <td>Situação</td>
                <td>
                    <select ng-model="eventoCtrl.event.active">
                        <option ng-repeat="status in eventoCtrl.status track by $index" value="{{$index}}" ng-selected="$index === eventoCtrl.event.active" >{{status.title}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bd-top">
                    <button ng-if="!eventoCtrl.event.id" type="submit">Salvar evento</button>
                    <button ng-if="eventoCtrl.event.id" type="submit">Atualizar dados</button>
                </td>
            </tr>
        </table>
    </form>
</div>