<div ng-controller="PainelController as painel">
    <my-panel-menu></my-panel-menu>
    <div class="title painel-title">
        <span>Edição de evento</span>
        <div class="right">
            <button type="button" ng-click="app.loadPage('/painel/eventos')">Voltar</button>
        </div>
    </div>
    <form ng-submit="eventoCtrl.atualizar(eventoCtrl.event)">
        <input type="hidden" ng-model="eventoCtrl.event.id" /> 
        <table class="form">
            <tr>
                <td colspan="2" class="title"> 
                    Dados pessoais
                </td>
            </tr>
            <tr>
                <td>#ID</td>
                <td>{{eventoCtrl.user.id}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{eventoCtrl.event.email}}</td>
            </tr>
            <tr>
                <td>Nome</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.name" /> 
                </td>
            </tr>
            <tr>
                <td>Telefone</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.phone" /> 
                </td>
            </tr>
            <tr>
                <td colspan="2" class="title">  
                    Endereço
                </td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.address" /> 
                </td>
            </tr>
            <tr>
                <td>Número</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.number" /> 
                </td>
            </tr>
            <tr>
                <td>Complemento</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.complement" /> 
                </td>
            </tr>
            <tr>
                <td>Bairro</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.neighborhood" /> 
                </td>
            </tr>
            <tr>
                <td>Estado</td>
                <td>
                    <select>
                        <option value="Minas Gerais">Minas Gerais</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td>
                    <select> 
                        <option value="Minas Gerais">Belo Horizonte</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cep</td>
                <td>
                    <input type="text" ng-model="eventoCtrl.event.zip" />  
                </td>
            </tr>
            <tr ng-if="eventoCtrl.accessAdm">
                <td colspan="2" class="title">  
                    Extras
                </td>
            </tr>
            <tr ng-if="eventoCtrl.accessAdm">
                <td>Permissão de acesso</td>
                <td>
                    <select ng-model="eventoCtrl.user.accessLevel">
                        <option ng-repeat="access in eventoCtrl.accessLevels track by $index" value="{{access.title}}" ng-selected="access.title === eventoCtrl.user.accessLevel" >{{access.title}}</option>
                    </select>
                </td>
            </tr>
            <tr ng-if="eventoCtrl.accessAdm">
                <td>Situação</td>
                <td>
                    <select ng-model="eventoCtrl.user.active">
                        <option ng-repeat="status in eventoCtrl.status track by $index" value="{{$index}}" ng-selected="$index === eventoCtrl.user.active" >{{status.title}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bd-top">
                    <button type="submit">Atualizar dados</button>
                </td>
            </tr>
        </table>
    </form>
</div>