<div ng-controller="PainelController as painel">
    <my-panel-menu></my-panel-menu>
    <p class="title painel-title">
        <span>Lista de usuários</span>
    </p>
    <table class="grid">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Informações</th>
                <th class="action"></th>
                <th class="action"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usuario.usuarios track by $index">
                <td>{{user.id}}</td>
                <td>
                    <p>{{user.name}}</p>
                    <p>{{user.email}}</p>
                    <p>{{user.accessLevel}}</p>
                </td>
                <td class="action">
                    <img class="action" src="img/edit.svg" alt="Editar" title="Editar" ng-click="usuario.editar(user.id)" />
                </td>
                <td class="action">
                    <img class="action" src="img/multiply.svg" alt="Excluir" title="Excluir" ng-click="usuario.remover(user.id)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>