<div id="painel" ng-controller="PainelController as painel">
    <my-panel-menu></my-panel-menu>
    <div class="title painel-title">
        <span>Edição de usuário</span>
        <div class="right">
            <button type="button" ng-if="usuarioCtrl.accessAdm" ng-click="app.loadPage('/painel/usuarios')">Voltar</button>
        </div>
    </div>
    <form ng-submit="usuarioCtrl.atualizar(usuarioCtrl.user)">
        <input type="hidden" ng-model="usuarioCtrl.user.id" /> 
        <input type="hidden" ng-model="usuarioCtrl.user.email" /> 
        <table class="form">
            <tr>
                <td colspan="2" class="title"> 
                    Dados pessoais
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{usuarioCtrl.user.email}}</td>
            </tr>
            <tr>
                <td>Nome</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.name" /> 
                </td>
            </tr>
            <tr>
                <td>Gênero</td>
                <td>
                    <input id="gender-masculino" type="radio" ng-model="usuarioCtrl.user.gender" value="masculino" /> <label for="gender-masculino">Masculino</label>
                    <input id="gender-feminino" type="radio" ng-model="usuarioCtrl.user.gender" value="feminino" /> <label for="gender-feminino">Feminino</label>
                </td>
            </tr>
            <tr>
                <td>Telefone</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.phone" /> 
                </td>
            </tr>
            <tr>
                <td colspan="2" class="title">  
                    Endereço
                </td>
            </tr>
            <tr>
                <td>Cep</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.zip" ng-blur="usuarioCtrl.buscarEndereco(usuarioCtrl.user.zip)" />
                </td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.address" />
                </td>
            </tr>
            <tr>
                <td>Número</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.number" />
                </td>
            </tr>
            <tr>
                <td>Complemento</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.complement" />
                </td>
            </tr>
            <tr>
                <td>Bairro</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.neighborhood" />
                </td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.city" />
                    </select>
                </td>
            </tr>
            <tr>
                <td>Estado</td>
                <td>
                    <input type="text" ng-model="usuarioCtrl.user.state" />                    </select>
                </td>
            </tr>
            <tr ng-if="usuarioCtrl.accessAdm">
                <td colspan="2" class="title">  
                    Extras
                </td>
            </tr>
            <tr ng-if="usuarioCtrl.accessAdm">
                <td>Permissão de acesso</td>
                <td>
                    <select ng-model="usuarioCtrl.user.accessLevel">
                        <option ng-repeat="access in usuarioCtrl.accessLevels track by $index" value="{{access.title}}" ng-selected="access.title === usuarioCtrl.user.accessLevel" >{{access.title}}</option>
                    </select>
                </td>
            </tr>
            <tr ng-if="usuarioCtrl.accessAdm">
                <td>Situação</td>
                <td>
                    <select ng-model="usuarioCtrl.user.active">
                        <option ng-repeat="status in usuarioCtrl.status track by $index" value="{{$index}}" ng-selected="$index === usuarioCtrl.user.active" >{{status.title}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bd-top">
                    <button type="submit">Atualizar dados</button>
                </td>
            </tr>
        </table>
    </form>
</div>